/* CSS DIRECTORY
    1. VARIABLES
    2. GLOBALS
    3. COMPONENTS
    4. MEDIA QUERIES
*/


/* 1. VARIABLES
============================================================== */

/* COLORS
    - default body text  #000
    - primary color      #372c4b
    - accent color      TBD
*/

/* FONTS
    - default body text  Roboto, sans-serif
    - headings: TBD
*/

:root {
    --primary-color: #4e406a;
    --default-text-color: #000;
    --background-color: #fff;
    --role-logo-border-color: #fff;
    --role-logo-size: 100px;
    --standard-border-radius: 50px;
    --role-logo-background-color: #fff;
    --emphasis-text-color: #b3b3b3;
    --subtle-text-color: #767676;
    --link-underline-color: #acacac;
    --link-hover-color: #816cab;
    --avatar-size: 100px;
}

@media screen and (max-width: 992px) {
    :root {
        --font-size: 17px;
    }
}

@media screen and (min-width: 993px) {
    :root {
        --font-size: 20px;
    }
}

/* 2. GLOBALS
============================================================== */

html {
    line-height: 1.15;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: var(--font-size);
    line-height: 1.5em;
    margin: 0;
    background-color: var(--background-color);
    color: var(--default-text-color);
}


/* 3. COMPONENTS
============================================================== */

header {
    display: flex;
    align-items: center;
}

footer .skills i {
    display: block;
}

.education ul,
.experience ul {
    padding: 0;
    margin: 0;
}

.role ul li:not(.role-tenure)::before {
    content: "\2022";
    color: var(--primary-color);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.role-logo {
    width: var(--role-logo-size);
    height: var(--role-logo-size);
    position: relative;
    border: solid 1px var(--role-logo-border-color);
    border-radius: var(--standard-border-radius);
    margin-right: var(--role-logo-right-margin);
    box-shadow: 0 2px 0 0 var(--role-logo-border-color);
    background: var(--role-logo-background-color);
    flex-shrink: 0;
}

.role-logo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.role {
    position: relative;
}

.role-header {
    display: flex;
    align-items: center;
}

.role-title {
    padding-top: 1px;
    font-weight: 500;
    color: var(--emphasis-text-color);
}

ul.role-key-points {
    padding: 0 1em;
}

.role-key-points li {
    margin-bottom: 10px;
}

.role-tenure {
    font-size: 70%;
    text-transform: uppercase;
    color: var(--subtle-text-color);
    padding-top: 4px;
    list-style-type: none;
}

.welcome {
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10rem;
}

/* 4. MEDIA QUERIES
============================================================== */

@media only screen and (min-width: 993px) {
    .role:not(:last-child) {
        padding-bottom: 64px;
    }

    .role:not(:last-child):before {
        content: '';
        position: absolute;
        left: calc(var(--role-logo-size) / 2.0);
        top: 0;
        bottom: 0;
        border-left: solid 1px var(--role-logo-border-color);
        z-index: -1;
    }

    .role-header {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 992px) {
    .experience {
        margin-bottom: calc(var(--section-spacing) - 40px);
    }

    header .subtitle {
        display: none;
    }

    .role:not(:last-child) {
        padding-bottom: 32px;
    }

    .role-header {
        margin-bottom: 25px;
    }

    .role-key-points {
        padding-left: calc(var(--role-logo-size) + var(--role-logo-right-margin));
    }
}

a {
    color: inherit;
    text-decoration-style: dotted;
    text-decoration-line: underline;
    text-underline-position: under;
    text-underline-offset: 2px;
    text-decoration-thickness: 1px;
    text-decoration-color: var(--link-underline-color);
}

.avatar {
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: calc(var(--avatar-size) / 2.0);
    margin: 0 auto;
}

.primary-color-text {
    color: var(--primary-color);
}